PUBLIC_BACKEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:8080
OTEL_SERVICE_NAME=sveltekit-dev
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
