events {
    worker_connections 1024;
}

http {
    resolver 127.0.0.11 ipv6=off;

    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_x_forwarded_for" -> Upstream: $upstream_addr';

    map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
    }

    access_log /var/log/nginx/access.log main;

    server {
        listen 80;
        listen [::]:80;
        server_name ${DOMAIN};

        # Redirect all HTTP traffic to HTTPS
        location / {
            return 301 https://$host$request_uri;
        }
    }

    server {
        listen 443 ssl;
        listen [::]:443 ssl;
        server_name ${DOMAIN};

        # Self-signed multi-domain keys
        ssl_certificate /etc/nginx/certs/local.crt;
        ssl_certificate_key /etc/nginx/certs/local.key;

        location / {
            proxy_pass ${FRONTEND_URL}; # Vite dev server

            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;

            # Standard proxy headers
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /api/ {
            proxy_pass ${BACKEND_URL}; # Ktor backend

            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;

            # Vital cookie/session proxy headers
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            # Match cookie domain to your local hosts environment
            proxy_cookie_domain ${BACKEND_DOMAIN} ${DOMAIN};

            proxy_read_timeout 3600s;
            proxy_send_timeout 3600s;
        }

        location /ws {
            proxy_pass ${BACKEND_URL}; # Ktor backend

            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;

            # Vital cookie/session proxy headers
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            # Match cookie domain to your local hosts environment
            proxy_cookie_domain ${BACKEND_DOMAIN} ${DOMAIN};

            proxy_read_timeout 3600s;
            proxy_send_timeout 3600s;
        }
    }
}
